

/** Paper sizes **/
/** Padding area **/
.sheet.padding-10mm { padding: 10mm }
.sheet.padding-15mm { padding: 15mm }
.sheet.padding-20mm { padding: 20mm }
.sheet.padding-25mm { padding: 25mm }


/** Fix for Chrome issue #273306 **/
@media print {
           body.A3.landscape { width: 420mm }
  body.A3, body.A4.landscape { width: 297mm }
  body.A4, body.A5.landscape { width: 210mm }
  body.A5                    { width: 148mm }
  body.letter, body.legal    { width: 216mm }
  body.letter.landscape      { width: 280mm }
  body.legal.landscape       { width: 357mm }
  body, .printhide{
    display: none;
    visibility: hidden;
    margin: 0;
  }
  body .print{

    visibility: visible;
    width: 100%;
    color: black;
  }
  .print td, th {
  padding: 0px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px;
}
}
